<div class="container my-3 p-2">
  <label for="name">
    *必填欄位
  </label>
  <h1 class="mb-1">請修改你的支出</h1>
  <form action="/records/edit/{{record._id}}?_method=PUT" method="POST">
    <label for="name">
      名稱*
    </label>
    <input type="text" class="form-control mb-1" name="name" value="{{record.name}}">

    <label for="date">
      日期*
    </label>
    <input type="date" class="form-control mb-1" name="date" value="{{record.date}}">

    <label for="category">
      分類*
    </label>
    <select class="form-control mb-3" id="category" name="category">
      <option value="housing" {{#if selection.housing}}selected="selected" {{/if}}>家居物業</option>
      <option value="transportation" {{#if selection.transportation}}selected="selected" {{/if}}>交通出行
      </option>
      <option value="entertainment" {{#if selection.entertainment}}selected="selected" {{/if}}>休閒娛樂</option>
      <option value="food" {{#if selection.food}}selected="selected" {{/if}}>餐飲食品</option>
      <option value="others" {{#if selection.others}}selected="selected" {{/if}}>其他</option>
    </select>
    {{!-- <input type="text" class="form-control mb-1" name="category" value="{{record.category}}" required> --}}

    <label for="amount">
      金額*
    </label>
    <input type="number" class="form-control mb-1" name="amount" value="{{record.amount}}">

    <a href="/" class="btn btn-light border-dark mx-2 my-3">返回</a>
    <button type="submit" class="btn btn-primary border-dark my-3">修改支出</button>

  </form>
</div>