<div class="container my-3 p-2">
  {{> messages}}
  <div>
    <h3 class="mb-1" style="display:inline">請輸入你的支出</h3>
    <label class="mx-2">*必填欄位</label>
  </div>
  <form action="/records/edit/{{record._id}}?_method=PUT" method="POST">
    <label for="name">
      名稱*
    </label>
    <input id="name" type="text" class="form-control mb-1" name="name" value="{{record.name}}">

    <label for="date">
      日期*
    </label>
    <input id="date" type="date" class="form-control mb-1" name="date" value="{{record.date}}">

    <label for="category">
      分類*
    </label>
    <select id="category" class="form-control mb-3" id="category" name="category">
      <option value="housing" {{#if selection.housing}}selected="selected" {{/if}}>家居物業</option>
      <option value="transportation" {{#if selection.transportation}}selected="selected" {{/if}}>交通出行</option>
      <option value="entertainment" {{#if selection.entertainment}}selected="selected" {{/if}}>休閒娛樂</option>
      <option value="food" {{#if selection.food}}selected="selected" {{/if}}>餐飲食品</option>
      <option value="others" {{#if selection.others}}selected="selected" {{/if}}>其他</option>
    </select>

    <label for="merchant">商家</label>
    <input id="merchant" type="text" class="form-control mb-1" name="merchant" value="{{record.merchant}}">

    <label for="amount">
      金額*
    </label>
    <input id="amount" type="number" class="form-control mb-1" name="amount" value="{{record.amount}}">

    <a href="/" class="btn btn-light border-dark mx-2 my-3">返回</a>
    <button type="submit" class="btn btn-primary border-dark my-3">修改支出</button>

  </form>
</div>